*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}


:root {
    --main-color: #e02f6b;
    --blue: #0000ff;
    --blue-dark: #18293c;
    --orange: #ffa500;
    --green-yellow: #cddc39;
    --pink-light: #efa2b4;
    --cyan-light: #aef1ee;
    --white: #ffffff;
    --white-alpha-40: rgba(255, 255, 255, 0.4);
    --white-alpha-25: rgba(255, 255, 255, 0.25);
    --backdrop-filter-blur: blur(5px);
  }
body {
    min-height: 100vh;
    background-image: linear-gradient(
      to bottom right,
      var(--pink-light),
      var(--cyan-light)
    );
    font-size: 16px;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: var(--blue-dark);
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highligh-color: transparent;
    padding: 35px 15px;
  }

.App{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.c-player{
    display:block;
    background-color: #313131;
    padding: 50px;
    border-radius: 16px;
    box-shadow: 6px 6px 12px;
}


.c-player > h4{
    color: #FFFFFF;
    font-size:14px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400px;
     text-align: center;
}


.c-player > p {
    color: #AAAAAA;
    font-size:14px;
    text-align: center;
    font-weight: 400;
}

.c-player--details .details-img{
    position: relative;
    width: fit-content;
    margin: 50px auto;
}

.c-player--details .details-img img{
    display:block;
    margin: 0px auto;
    width: 100%;
    max-width: 250px;
    border-radius: 50%;
}


.c-player--details .details-title{
    color: #EEE;
    font-size: 28px;
    text-shadow: 2px 2px 4px;
    text-align: center;
    margin-bottom: 10px;

}

.c-player--details .details-artist{
    color: #AAA;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}


.c-player--controls{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.c-player--controls .play-btn{
    display:flex;
    margin: 0 30px;
    padding: 20px;
    border-radius: 50%;
    border:none;
    outline: none;
    background-color: green;
    color: #FFFFFF;
    font-size: 24px;
    cursor: pointer;
}

.c-player--controls .skip-btn{
    background:none;
    border:none;
    outline:none;
    cursor:pointer;
    color:#888;
    font-style: 18px;
}